<%- include('partials/head'); %>

<main>
    <div class="container">
        <h2 class="flow-text">Calculator</h2>
        <h3 class="flow-text">Know your tax contribution?</h3>
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s5">
                        <a href="#know_tax" class="blue-text">
                            YES, I KNOW MY TAX
                        </a>
                    </li>
                    <li class="tab col s5">
                        <a href="#dont_know_tax" class="blue-text">
                            NO, WORK IT OUT FOR ME
                        </a>
                    </li>
                </ul>
    
                <!-- Know Tax -->
    
                <div id="know_tax">
                    <form action="" id="know_form">
                        <div class="input-field">
                            <input type="number" name="tax_contribution" id="tax_contribution_val" placeholder="Enter Tax Amount">
                        </div>
                        <div class="input-field center">
                            <button class="btn" type="submit">Submit</button>
                        </div>
                    </form>
                    <div class="container">
                        <h2 class="flow-text">
                            Result
                        </h2>
                        <p class="flow-text">
                            Social Protection Contribution: &#163;<span id="social_protection_result_1">0.00</span>
                        </p>
                        <p class="flow-text">
                            Personal Social Services Contribution: &#163;<span id="personal_social_result_1">0.00</span>
                        </p>
                        <p class="flow-text">
                            Health Contribution: &#163;<span id="health_result_1">0.00</span>
                        </p>
                        <p class="flow-text">
                            Transport Contribution: &#163;<span id="transport_result_1">0.00</span>
                        </p>
                        <p class="flow-text">
                            Education Contribution: &#163;<span id="education_result_1">0.00</span>
                        </p>
                        <p class="flow-text">
                            Defence Contribution: &#163;<span id="defence_result_1">0.00</span>
                        </p>
                        <p class="flow-text">
                            Industry, Agriculture &amp; Employment Contribution: &#163;<span id="industry_agriculture_result_1">0.00</span>
                        </p>
                        <p class="flow-text">
                            Housing &amp; Environment Contribution: &#163;<span id="housing_environment_result_1">0.00</span>
                        </p>
                        <p class="flow-text">
                            Public Order &amp; Safety Contribution: &#163;<span id="public_order_result_1">0.00</span>
                        </p>
                        <p class="flow-text">
                            Debt Interest Contribution: &#163;<span id="debt_interest_result_1">0.00</span>
                        </p>
                        <p class="flow-text">
                            Other Contributions: &#163;<span id="other_contributions_result_1">0.00</span>
                        </p>
                    </div>
                </div>
    
                <!-- Don't know tax -->
    
                <div id="dont_know_tax">
                    <form action="" id="dont_know_form">
                        <div class="input-field">
                            <input type="number" name="salary" id="salary_val" placeholder="Enter Your Yearly Salary">
                        </div>
                        <div class="input-field center">
                            <button class="btn" type="submit">Submit</button>
                        </div>
                    </form>
                    <div class="container">
                        <h2 class="flow-text">
                            Result
                        </h2>
                        <p class="flow-text">
                            Yearly Tax Contribution: <span id="tax_contribution_2">0.00</span>
                        </p>
                        <p class="flow-text">
                            Social Protection Contribution: &#163;<span id="social_protection_result_2">0.00</span>
                        </p>
                        <p class="flow-text">
                            Personal Social Services Contribution: &#163;<span id="personal_social_result_2">0.00</span>
                        </p>
                        <p class="flow-text">
                            Health Contribution: &#163;<span id="health_result_2">0.00</span>
                        </p>
                        <p class="flow-text">
                            Transport Contribution: &#163;<span id="transport_result_2">0.00</span>
                        </p>
                        <p class="flow-text">
                            Education Contribution: &#163;<span id="education_result_2">0.00</span>
                        </p>
                        <p class="flow-text">
                            Defence Contribution: &#163;<span id="defence_result_2">0.00</span>
                        </p>
                        <p class="flow-text">
                            Industry, Agriculture &amp; Employment Contribution: &#163;<span id="industry_agriculture_result_2">0.00</span>
                        </p>
                        <p class="flow-text">
                            Housing &amp; Environment Contribution: &#163;<span id="housing_environment_result_2">0.00</span>
                        </p>
                        <p class="flow-text">
                            Public Order &amp; Safety Contribution: &#163;<span id="public_order_result_2">0.00</span>
                        </p>
                        <p class="flow-text">
                            Debt Interest Contribution: &#163;<span id="debt_interest_result_2">0.00</span>
                        </p>
                        <p class="flow-text">
                            Other Contributions: &#163;<span id="other_contributions_result_2">0.00</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    
    
    </div>
</main>

<nav class="nav-wrapper blue right">
    <div class="container">
        <ul class="to_calc">
            <li><a href="/calculator">
                <%= footerAction %> <i class="material-icons" id="right_arrow">restart_alt</i>
            </a></li>
        </ul>
    </div>
</nav>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script>
    $(document).ready(function() {
    $('.tabs').tabs();
    $('.sidenav').sidenav();
})
</script>

</body>
</html>

<%- include('partials/data'); %>
<%- include('partials/dom-init')%>
<%- include('partials/functions') %>
</body>
</html>